#main-first-page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 1rem;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  margin: 0 2rem;
}

.nav-menu ul li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin: 0 2rem;
}

.navbar .logo {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 2rem;
}

.mainpage-container {
  display: flex;
  height: 60vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.mainpage-primary-title {
  font-size: 2.5rem;
  text-align: center;
}

.mainpage-button {
  margin-top: 2.5rem;
}

.mainpage-button button {
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 1.6rem;
}

.line-overpage {
  display: flex;
  align-items: end;
  margin: 3rem 0 0 0;
  justify-content: center;
}

.line {
  width: 100%;
  height: 0.06rem;
  background: var(--gradient);
  display: flex;
  align-items: center;
  justify-content: center;
}
.line i {
  font-size: 1.5rem;
  color: var(--neutral-600);
}

#works {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.works-content {
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "header header"
    "left right "
    "left right";
  text-align: center;
  gap: 7rem;
  row-gap: 2rem;
  align-items: center;
  position: relative;
}

.works-title {
  grid-area: header;
  text-align: left;
  font-size: 1.8rem;
}

.works-content-left {
  grid-area: left;
}

.works-content-right {
  grid-area: right;
  position: absolute;
  top: 5rem;
}

.project-card {
  margin-bottom: 6rem;
}

.project-card h4 {
  margin-top: 1.5rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.015rem;
}

.project-card p {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.75rem;
}

.btn-works img {
  width: 1.5rem;
  display: inline-block;
  font-size: 0.875rem;
  padding-left: 0.25rem;
}

.btn-works {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 1rem 1rem 1.25rem;
  background-color: var(--neutral-900);
  line-height: 1.25rem;
}

#services {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5rem 7rem;
}

.container-services {
  width: 100%;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.container-services-bg {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}

.services-info {
  display: flex;
  width: 30rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 4.5rem;
}

.services-info h3 {
  width: 100%;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.75rem;
  letter-spacing: 0.075rem;
}
.services-info p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem;
}

.services-info button {
  margin-top: 2rem;
  padding: 1.25rem;
  border-radius: 2rem;
}
.service-card {
  width: 21rem;
  height: 19rem;
  background-color: var(--white);
}

.services-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow: visible;
  gap: 3rem;
  top: 0;
  right: 1rem;
  position: absolute;
}

.card-1 {
  position: absolute;
  right: 40rem;
  top: 7rem;
  box-shadow: 24px 24px 40px -12px rgba(28, 44, 64, 0.08);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1rem;
}

.card-2 {
  position: absolute;
  right: 17rem;
  top: -5rem;
  box-shadow: 24px 24px 40px -12px rgba(28, 44, 64, 0.08);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1rem;
}

.card-3 {
  position: absolute;
  right: 17rem;
  top: 16rem;
  box-shadow: 24px 24px 40px -12px rgba(28, 44, 64, 0.08);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 1rem;
}

.card-1 i {
  color: #74d1ef;
  font-size: 2rem;
}

.card-1 h5 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.125rem;
}

.card-1 p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.125rem;
}

.card-2 h5 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.125rem;
}

.card-2 p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.125rem;
}

.card-3 h5 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.125rem;
}

.card-3 p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  letter-spacing: 0.125rem;
}

.card-2 i {
  color: #b59b79;
  font-size: 2rem;
}

.card-3 i {
  color: #5e3bee;
  font-size: 2rem;
}

.logos {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.logos img {
  width: 128px;
  height: 48px;
}

.line h5 {
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: 0.12rem;
}

#about {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 2rem;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    "content img"
    "content img";
}

.about-content {
  grid-area: content;
}

.about-exper img {
  width: 385px;
  height: 512px;
}

.about-exper {
  display: flex;
}

.dates {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  padding: 1rem 0 1rem 0;
}

.dates-1,
.dates-2,
.dates-3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  margin: 1.5rem;
  width: 80%;
}

.dates-1 h3,
.dates-2 h3,
.dates-3 h3 {
  font-size: 3rem;
}
